<%= form_for [commentable, comment] do |f|%>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>
  <div class="row">
    <div class="col-md-1">
      <%= gravatar_for(current_person, { size: 35 }) %>
    </div>
    <div class="form-group col-md-11">
      <%= f.text_area :content, { placeholder: "What do you think?", class: 'form-control', rows: '3' } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
       
    </div>
    <div class="form-group col-md-11">
      <%= f.submit 'Comment', { class: 'btn btn-primary form-control' } %>
    </div>
  </div>
<% end %>
