<div class="panel panel-primary <%= forum_category_overview.wrapper_class %>">
  <div class="panel-heading">
    <strong><%= forum_category_overview.title %></strong>
  </div>
  <div class="panel-body">
    <%= forum_category_overview.description %>
  </div>
  <div class="list-group">
    <% if forum_category_overview.forums.empty? %>
      <div class="list-group-item">
        <p class="list-group-item-text">
        There aren't any forums in this category :(
        </p>
      </div>
    <% else %>
      <% forum_category_overview.forums.each do |forum| %>
        <%= link_to forum_path(forum), class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <%= forum.title %>
            <span class='pull-right'>
              <ul class="nav">
                <li>Threads <span class='badge'><%= forum.forum_threads.count %></span></li>
              </ul>
            </span>
          </h4>
          <p class="list-group-item-text">
            <%= forum.description %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
