<li class="media">
<a class="pull-left" href="<%= media_list_item.image_link %>">
  <img class="media-object" src="<%= media_list_item.image_src %>" alt="<%= media_list_item.image_alt %>">
</a>
<div class="media-body">
  <h4 class="media-heading"><%= media_list_item.heading %></h4>
  <%= media_list_item.body %>
</div>
</li>
